# File types
*.pyc
*.mat
*.tif
*.png
*.PNG
*.jpeg
*.mp4
*.jpg
*.pkl
*.kml
*.geojson
*checkpoint.ipynb
*.xml
# Folders
/deprecated
/worked_example
/.virtual_documents
/manuscripts
/classification
# Useful for hiding other scripts (e.g., downloading WHACS data)
/src
# Useful for hiding data
/data/raw
/data/ss