# File types
*.pyc
*.mat
*.tif
*.png
*.PNG
*.jpeg
*.mp4
*.jpg
*.pkl
*.kml
*.geojson
*checkpoint.ipynb
*.csv
*.xml
# Folders
/deprecated
/worked_example
/.virtual_documents
/data
/manuscripts
/classification